extends layout

block content
  include memu
  h1= title
  p Fill in the form below to sign in!
  include messages
  form(action="/login", nethod="POST")
    p
      input(type="text", name="username", placeholder="Username")
    p
      input(type="password", name="userpass", placeholder="Password")
    p
      input(type="submit" value="Login")
